<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
  <div class="py-5 text-center">
    <p class="lead">스터디올래</p>
    <h2>패스워드 없이 로그인하기</h2>
  </div>
  <div class="row justify-content-center">

    <div th:replace="fragments.html :: alert-icon"></div>

    <div class="row justify-content-center">

      <div th:if="${error}" class="alert alert-danger alert-dismissible fade show col-sm-6" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <strong th:text="${error}">에러</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div th:if="${message}" class="alert alert-info alert-dismissible fade show col-sm-6" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <strong th:text="${message}">메세지</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    </div>


    <form class="needs-validation col-sm-6" action="#" th:action="@{/email-login}" method="post" novalidate>
      <div class="form-group mb-3">
        <label for="email">가입 할 때 사용한 이메일</label>
        <input id="email" type="email" name="email" class="form-control"
               placeholder="your@email.com" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">
          가입할 때 사용한 이메일을 입력하세요.
        </small>
        <small class="invalid-feedback">이메일을 입력하세요.</small>
      </div>

      <div class="form-group mb-3">
        <button class="btn btn-success w-100" type="submit"
                aria-describedby="submitHelp">로그인 링크 보내기</button>
        <small id="submitHelp" class="form-text text-muted">
          스터디올래에 처음 오신거라면 <a href="#" th:href="@{/findpassword}">계정을 먼저 만드세요.</a>
        </small>
      </div>
    </form>
  </div>

  <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>